:root{
    --maincolor: #13293D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s linear;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header{
    padding: 2rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 .5rem .5rem rgb(0, 0, .1);
    background-color: #13293D;
}

.header > a > img{
    max-width: 20%;
    max-height: 20%;
}

.header .navbar a{
    font-size: 1.7rem;
    margin-left: 1.5rem;
    color: white;
}

.header .navbar a:hover{
    color: black;
}

.header .icons{
    font-size: 2rem;
}

.header .icons img{
    margin-left: 2rem;
    cursor: pointer;
    color: white;
}

.header .icons img:hover{
    color: var(--maincolor);
}

.header .icons #menu{
    display: none;
}

.header .search-bar{
    position: absolute;
    top: 110%;
    right: 100%;
    width: 50%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header .search-bar input{
    padding: 1.5rem;
    border-radius: 15px;
    width: 100%;
    border: none;
}

.main-background{
    background: url(images/Cópia\ de\ Tempestade.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.main-text{
    text-align: center;
}
.main-text h2{
    color: var(--maincolor);
    font-size: 30px;
}
.main-text h1{
    color: var(--maincolor);
    font-size: 38px;
}
.main-text h1 span{
    color: var(--maincolor);
} 
.book-section{
    padding: 2rem 7%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-book{
    width: 100%;
    background: black;
    display: flex;
  flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.inner-book input{
    padding: 1rem 2rem;
    margin: .5rem 0;

}
.book-btn{
    padding: 1.1rem 2rem;
    background: var(--maincolor);

}
.book-btn a{
    color: white;
    font-size: 1.5rem;
}

.our-rooms{
    padding: 2rem 7%;

}
.our-rooms h1{
    color: black;
    text-align: center;
    font-size: 40px;
    padding-bottom: 2rem;
}
.our-rooms h1 span{
    color: var(--maincolor);
}
.inner-rooms{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.inner-rooms .room-box{
    flex: 1 1 300px;
}
.inner-rooms .room-box img{
    width: 100%;
    padding: 1rem;
}
.inner-rooms .room-box .beds{
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
}
.inner-rooms .room-box .beds span{
    font-size: 1.7rem;
}
.inner-rooms .room-box .beds i{
    font-size: 2rem;
    color: var(--maincolor);
    cursor: pointer;
}
.book-room-btn{
    width: 50%;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border: 1px solid var(--maincolor);
    text-align: center;
}
.book-room-btn:hover{
    color: white;
    background: var(--maincolor);
}
.book-room-btn a{
    color: black;
    font-size: 1.7rem;
}
.book-room-btn a:hover{
    color: white;
}

































@media (max-width:768px) {
    html{
        font-size: 50%;
    }

    .header .icons #menu{
        display: inline-block;
    }

    .header{
        padding: 2rem;
    }

    .header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--maincolor);
    }

    .header .navbar a{
        display: block;
        margin: 1rem;
        padding: 1rem;
        background: white;
        border-radius: 10px;
    }
}